@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,500;1,400&display=swap');

body{
    background-image: url(cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    margin-top: 90px;
    color: #fff;
    margin-left: 200px;
    margin-right: 210px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    border-radius: 8px;
}
.title{
    font-family: 'Bitter', serif;

}
input{
    width: 100%;
    /* background-color: #222; */ background-color: transparent;
    border:none;
    border-bottom: 1px solid #fff;

    /* border-radius: 8px; */
    margin:8px;
    color: #fff;
}
.forgot-password{
    color: #fff;
    text-decoration: none;

}
forgot-password::after{
    color: #fff;

}
/* .input-box{
} */

a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.submit{
    margin-top: 5px;
}


